<main>
  <section class="hero">
    <div class="container">
      <div class="hero-inner">
        <div class="hero-copy"></div>
        <div class="hero-illustration">
          <div class="hero-shape hero-shape-1">
            <svg
              width="40"
              height="40"
              xmlns="http://www.w3.org/2000/svg"
              style="overflow: visible"
            >
              <circle
                class="anime-element fadeup-animation"
                cx="20"
                cy="20"
                r="20"
                fill="#FFD8CD"
                fill-rule="evenodd"
              />
            </svg>
          </div>
          <div class="hero-shape hero-shape-2">
            <svg
              width="88"
              height="88"
              xmlns="http://www.w3.org/2000/svg"
              style="overflow: visible"
            >
              <circle
                class="anime-element fadeup-animation"
                cx="44"
                cy="44"
                r="44"
                fill="#FFD2DA"
                fill-rule="evenodd"
              />
            </svg>
          </div>
          <div class="hero-main-shape">
            <svg
              width="940"
              height="647"
              viewBox="0 0 940 647"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="overflow: visible; left: 0; top: 0"
            >
              <defs>
                <linearGradient
                  x1="100%"
                  y1="0%"
                  x2="0%"
                  y2="100%"
                  id="hero-illustration-a"
                >
                  <stop stop-color="#261FB6" offset="0%" />
                  <stop stop-color="#4950F6" offset="100%" />
                </linearGradient>
                <linearGradient
                  x1="89.764%"
                  y1="16.809%"
                  x2="11.987%"
                  y2="82.178%"
                  id="hero-illustration-b"
                >
                  <stop stop-color="#FC8464" offset="0%" />
                  <stop stop-color="#FB5C32" offset="100%" />
                </linearGradient>
                <linearGradient
                  x1="100%"
                  y1="23.096%"
                  x2="4.439%"
                  y2="96.586%"
                  id="hero-illustration-c"
                >
                  <stop stop-color="#1ADAB7" offset="0%" />
                  <stop stop-color="#55EBD0" offset="100%" />
                </linearGradient>
                <filter
                  x="-13%"
                  y="-150%"
                  width="126.1%"
                  height="400%"
                  filterUnits="objectBoundingBox"
                  id="hero-illustration-d"
                >
                  <feGaussianBlur stdDeviation="32" in="SourceGraphic" />
                </filter>
                <linearGradient
                  x1="0%"
                  y1="100%"
                  x2="46.694%"
                  y2="42.915%"
                  id="hero-illustration-f"
                >
                  <stop stop-color="#EEF1FA" offset="0%" />
                  <stop stop-color="#FFF" offset="100%" />
                </linearGradient>
                <rect
                  id="hero-illustration-e"
                  width="800"
                  height="450"
                  rx="4"
                />
                <linearGradient
                  x1="100%"
                  y1="-12.816%"
                  x2="0%"
                  y2="-12.816%"
                  id="hero-illustration-g"
                >
                  <stop stop-color="#D2DAF0" stop-opacity="0" offset="0%" />
                  <stop stop-color="#D2DAF0" offset="50.045%" />
                  <stop stop-color="#D2DAF0" stop-opacity="0" offset="100%" />
                </linearGradient>
                <linearGradient
                  x1="116.514%"
                  y1="-21.201%"
                  x2="0%"
                  y2="100%"
                  id="hero-illustration-h"
                >
                  <stop stop-color="#55EBD0" offset="0%" />
                  <stop stop-color="#4950F6" offset="100%" />
                </linearGradient>
                <path id="hero-illustration-j" d="M0 0h308v288H0z" />
                <filter
                  x="-15.6%"
                  y="-12.5%"
                  width="139%"
                  height="141.7%"
                  filterUnits="objectBoundingBox"
                  id="hero-illustration-i"
                >
                  <feOffset
                    dx="12"
                    dy="24"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  />
                  <feGaussianBlur
                    stdDeviation="16"
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                  />
                  <feColorMatrix
                    values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
                    in="shadowBlurOuter1"
                  />
                </filter>
                <circle id="hero-illustration-k" cx="16" cy="16" r="16" />
                <linearGradient
                  x1="50%"
                  y1="0%"
                  x2="50%"
                  y2="100%"
                  id="hero-illustration-m"
                >
                  <stop stop-color="#C6FDF3" offset="0%" />
                  <stop stop-color="#C6FDF3" stop-opacity="0" offset="100%" />
                </linearGradient>
                <linearGradient
                  x1="2.875%"
                  y1="89.028%"
                  x2="99.412%"
                  y2="6.885%"
                  id="hero-illustration-n"
                >
                  <stop stop-color="#83F0DD" offset="0%" />
                  <stop stop-color="#1ADAB7" offset="50.924%" />
                  <stop stop-color="#55EBD0" offset="100%" />
                </linearGradient>
                <linearGradient
                  x1="50%"
                  y1="1.569%"
                  x2="50%"
                  y2="97.315%"
                  id="hero-illustration-o"
                >
                  <stop stop-color="#FF97AA" offset="0%" />
                  <stop stop-color="#FF6381" offset="100%" />
                </linearGradient>
                <linearGradient
                  x1="50%"
                  y1="0%"
                  x2="50%"
                  y2="100%"
                  id="hero-illustration-p"
                >
                  <stop stop-color="#FCAC96" offset="0%" />
                  <stop stop-color="#FC8464" offset="100%" />
                </linearGradient>
                <circle id="hero-illustration-r" cx="28" cy="28" r="28" />
                <filter
                  x="-85.7%"
                  y="-64.3%"
                  width="314.3%"
                  height="314.3%"
                  filterUnits="objectBoundingBox"
                  id="hero-illustration-q"
                >
                  <feOffset
                    dx="12"
                    dy="24"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  />
                  <feGaussianBlur
                    stdDeviation="16"
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                  />
                  <feColorMatrix
                    values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
                    in="shadowBlurOuter1"
                  />
                </filter>
                <circle id="hero-illustration-t" cx="36" cy="36" r="36" />
                <filter
                  x="-66.7%"
                  y="-50%"
                  width="266.7%"
                  height="266.7%"
                  filterUnits="objectBoundingBox"
                  id="hero-illustration-s"
                >
                  <feOffset
                    dx="12"
                    dy="24"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  />
                  <feGaussianBlur
                    stdDeviation="16"
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                  />
                  <feColorMatrix
                    values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
                    in="shadowBlurOuter1"
                  />
                </filter>
                <circle id="hero-illustration-v" cx="28" cy="28" r="28" />
                <filter
                  x="-85.7%"
                  y="-64.3%"
                  width="314.3%"
                  height="314.3%"
                  filterUnits="objectBoundingBox"
                  id="hero-illustration-u"
                >
                  <feOffset
                    dx="12"
                    dy="24"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  />
                  <feGaussianBlur
                    stdDeviation="16"
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                  />
                  <feColorMatrix
                    values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
                    in="shadowBlurOuter1"
                  />
                </filter>
                <circle id="hero-illustration-x" cx="24" cy="24" r="24" />
                <filter
                  x="-100%"
                  y="-75%"
                  width="350%"
                  height="350%"
                  filterUnits="objectBoundingBox"
                  id="hero-illustration-w"
                >
                  <feOffset
                    dx="12"
                    dy="24"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  />
                  <feGaussianBlur
                    stdDeviation="16"
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                  />
                  <feColorMatrix
                    values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
                    in="shadowBlurOuter1"
                  />
                </filter>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <path
                  class="anime-element stroke-animation"
                  d="M600,300 C600,465.685425 465.685425,600 300,600 C134.314575,600 1.3749042e-14,465.685425 3.60373576e-15,300 C-6.54157051e-15,134.314575 134.314575,-1.29473326e-14 300,-2.30926389e-14 C465.685425,-3.32379452e-14 600,134.314575 600,300 Z"
                  fill="url(#hero-illustration-a)"
                  stroke="#4950F6"
                />
                <g transform="translate(435 518)">
                  <circle
                    class="anime-element fadeup-animation"
                    fill="url(#hero-illustration-b)"
                    cx="106"
                    cy="32"
                    r="32"
                  />
                  <circle
                    class="anime-element fadeup-animation"
                    fill="url(#hero-illustration-c)"
                    cx="12"
                    cy="117"
                    r="12"
                  />
                </g>
              </g>
            </svg>
            <img
              class="anime-element fadeleft-animation"
              style="
                position: absolute;
                top: 20%;
                left: 6.5%;
                border-radius: 5px;
                height: 70%;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                  0 3px 6px rgba(0, 0, 0, 0.23);
              "
              src="/assets/img/rio.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="newsletter section text-light">
    <div class="container-sm">
      <div class="newsletter-inner section-inner">
        <div class="newsletter-header text-center">
          <h2 class="section-title mt-0">Nosotros</h2>
          <p class="section-paragraph">
            Quiero comprar mi auto nuevo y no sé dónde buscar la mejor opción,
            tengo algunos ahorros pero no sé si califique a un crédito, conozco
            poco de autos y necesito que alguien me asesore en la compra, mi
            compañero de chamba ya está viejito y quiero renovarlo, necesito un
            camioncito para llevar mi mercadería....te sientes identificado? Por
            eso nació Clicker, la primera plataforma digital que redefine la
            compra de autos nuevos
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
